<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <title>Туристический Поиск</title>
</head>

<body>
    <container>
        <sidebar>
            <a href="/profile">
                <img src="{{ user.user_photo }}" avatar>
            </a>

            <menu-button>
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#fff">
                        <path
                            d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                    </svg>
                </a>
            </menu-button>
            <menu-button>
                <a href="/purchased">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#fff">
                        <path
                            d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
                    </svg>
                </a>
            </menu-button>
            <menu-button>
                <a href="/chat">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#fff">
                        <path
                            d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z" />
                    </svg>
                </a>
            </menu-button>
            <div id="switch"></div>
        </sidebar>
        <content>
            <header>
                <search-bar>
                    <input type="text" placeholder="Search for tours...">
                </search-bar>
                <h1>Tours <span>{{ tours|length }} results</span></h1>
            </header>
            <tours-list>
                {% for tour in tours %}
                <a href="/tour/{{ tour.tour_id }}">
                    <tour-card>
                        <tour-img style="background: url('{{ tour.photos }}') no-repeat center/cover;"></tour-img>
                        <tour-info>
                            <h3>{{ tour.name }}</h3>
                            <p>{{ tour.info }}</p>
                        </tour-info>
                        <tour-price>{{ tour.price }}KZT</tour-price>
                    </tour-card>
                </a>
                {% endfor %}
            </tours-list>
        </content>
        <map-section>
            <map-container id="map"></map-container>
        </map-section>
    </container>

    <script>
        let lastTheme = null;

        document.addEventListener('DOMContentLoaded', () => {
            createThemeSwitch(); // Сначала создаем переключатель
            loadTheme(); // Затем загружаем тему
        });

        document.addEventListener('DOMContentLoaded', () => {
            const theme = localStorage.getItem('theme');

            mapboxgl.accessToken = 'pk.eyJ1IjoiYWxpYXNraGFuIiwiYSI6ImNtMWV2aWt6bzJqeWsybHF4YXFkc2Q1eDgifQ.XwvA2nbcCI_nqiu9VYetWg';

            const map = new mapboxgl.Map({
                container: 'map',
                style: localStorage.getItem('theme') === 'dark' ? themes.dark['--map-color'] : themes.light['--map-color'],
                center: [66.9237, 48.0196],
                zoom: 4,
                preserveDrawingBuffer: true
            });

            let lastTheme = localStorage.getItem('theme');

            setInterval(() => {
                const theme = localStorage.getItem('theme');

                if (lastTheme !== theme) {
                    map.setStyle(theme === 'dark' ? themes.dark['--map-color'] : themes.light['--map-color']);
                    lastTheme = theme;
                }
            }, 1000);
        });


        document.querySelector('search-bar input').addEventListener('input', function (event) {
            const searchTerm = event.target.value.trim();
            const toursList = document.querySelector('tours-list');
            const resultsSpan = document.querySelector('h1 span');

            function updateTours(url) {
                fetch(url)
                    .then(response => response.json())
                    .then(tours => {
                        toursList.innerHTML = ''; // Очищаем список

                        tours.forEach(tour => {
                            const tourCard = document.createElement('tour-card');
                            tourCard.innerHTML = `
                                <tour-img style="background: url('${tour.photos}') no-repeat center/cover;"></tour-img>
                                <tour-info>
                                    <h3>${tour.name}</h3>
                                    <p>${tour.info}</p>
                                </tour-info>
                                <tour-price>${tour.price}</tour-price>
                            `;
                            toursList.appendChild(tourCard);
                        });

                        // Обновляем количество туров
                        resultsSpan.textContent = `${tours.length} results`;
                    });
            }
            if (searchTerm.length >= 2) {
                updateTours(`/search?term=${encodeURIComponent(searchTerm)}`);
            } else {
                updateTours('/search'); // Загружаем все туры, если строка поиска пуста
            }
        });
    </script>
</body>

</html>